@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('./css/bootstrap.min.css');

*{
  margin: 0;
  padding: 0;
}

.section-hero {
  width: min(100%, 1000px);
  padding: 0 50px;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  border-radius: 20px;
  height: 100%;
}

.form-header{
  font-family: 'Poppins', sans-serif;
}

.hero-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.right-side-hero {
    font-family: 'Poppins', sans-serif;
    font-size: 180px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #4D6303;
    opacity: 1;
    margin-top: 90px;
    height: auto;
}

.hero-title {
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--dark-gray);
}

.hero-copy {
  font: Open sans, Extrabold;
  font-size: 63px;
}

.hero-image {
  width: 60%;
}

.hero-image img {
  width: 100%;
}

.hero-form-input {
  background-color: #edf0fd;
  border: none;
  height: 40px;
  border-radius: 10px;
  padding-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.hero-form-button {
  width: 150px;
}

.hero-promo {
  display: flex;
  align-items: center;
}

.hero-feature-container {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.hero-feature-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #edf0fd;
  display: grid;
  place-items: center;
  margin-right: 10px;
}

.hero-feature-copy {
  max-width: 70px;
  font-size: 13px;
  font-weight: 700;
  color: #797979;
}

.hero-feature-image i {
  color: #7c88ff;
}

.hero-promo-ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.hero-promo-items {
  list-style-type: none;
  margin: 0 10px;
}

.hero-promo-items i {
  color: #bfbfbf;
}

.submit{
  background: #CDF301 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

@media (max-width: 769px) {
  body {
    display: block;
    padding: 0;
  }

  .navbar {
    padding: 10px 0;
  }

  .navbar-links-ul,
  .navbar-cta {
    display: none;
  }

  .navbar-mobile-menu {
    display: block;
  }

  .hero-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-form-input {
    width: 100%;
    margin-right: 0;
  }

  .hero-form-button {
    width: 100%;
  }
  .span{
    height: 30px;
  }
  .section-hero {
    height: auto;
    width: 100%;
    padding: 0 20px;
    grid-template-rows: 80px 1fr 80px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .hero-image {
    order: 1;
    width: 100%;
  }

  .hero-copy-container {
    order: 2;
    width: 100%;
    text-align: center;
  }

  .hero-title {
    font-size: 20px;
  }
}

input{
  height: 1.8rem;
  font-size: 12px;
  line-height: 80%;
}

@media (min-width: 100px) {
  body{
    width: 100vw;
    overflow-x: hidden;
  }
  .form{
    width: ;
    height: auto;
    margin: auto;
    margin-top: 12px;
    background: #9B9B9B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.84;
  }
  
  .right-side-hero{
    margin-top: -10px;
    margin-left: 24px;
  }
  .resize{
    height: 360px;
    margin-left: 27px;
    bord
  }
  .span{
    height: 60px;
    margin-top: 45px;
  }
  #section2 {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -90px;
    left: 0px;
    width: 100vw;
    height: 450px;
  }
}
@media (min-width: 500px) {
  .form{
    max-width: 90%;
    height: auto;
  
    margin-left: 27px;
    margin-top: 24px;
    background: #9B9B9B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.84;
  }
  .span{
    margin-top: 60px;
  }
  .right-side-hero{
    height: 200px;
    margin-top: 0px;
    margin-left: 24px;
  }
  .resize{
    height: 360px;
    margin-left: 0;
  }
  #section2 {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    left: 0px;
    width: 100vw;
    height: 420px;
  }
}

@media (min-width: 639px) {
  .form{
    margin-left: 90px;
    max-width: 240px;
    margin-top: 54px;
    height: auto;
    background: #9B9B9B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.84;
  }
  .right-side-hero{
    margin-top:px;
  }
  .right-side-hero h1{
    font-size: 1.5rem;
  }
  .resize{
    height: 360px !important;
      
  }
  
}

@media (min-width: 992px) {
  .form{
    margin-left: 180px;
    max-width: 390px;
    margin-top: 90px;
    height: 330px;
    background: #9B9B9B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.84;
  }
  .right-side-hero{
    margin-top:69px;
    
  }
  .resize{
    height: 330px;
    
  }
}

@media (min-width: 702px) {
  .form{
    margin-left: 150px;
    margin-top: 120px;
    width: 330px;
    height: auto;
    background: #9B9B9B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.84;
  }
  .resize{
    height: 390px;
  }
  .right-side-hero{
    margin-top:30px;
    height: 240px;
  }
  .right-side-hero h1{
    font-size: 2.1rem;
  }
  form{
    margin-top: 0px !important;
  }
  .span{
    margin-top: 240px;
  }
  #section2 {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 450px;
    left: 0px;
    width: 100vw;
    height: 450px;
  }
}
@media (min-width: 779px) {
  .form{
    margin-left: 150px;
    margin-top: 90px;
    width: 330px;
    height: auto;
    background: #9B9B9B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.84;
  }
  .resize{
    height: 390px;
    margin-left: 150px;
  }
  .right-side-hero{
    margin-top:30px;
    height: 240px;
  }
  .right-side-hero h1{
    font-size: 2.1rem;
  }
  form{
    margin-top: 0px !important;
  }
  .span{
    margin-top: 240px;
  }
  #section2 {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -270px;
    left: 0px;
    width: 100vw;
    height: 450px;
  }
}

@media (min-width: 1200px) {
  .form{
    margin-left: 300px;
    margin-top: 90px;
    width: 540px;
    height: 420px;
    background: #9B9B9B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.84;
  }

  .right-side-hero h1{
    font-size: 3rem;
  }
  
  .resize{
    height: 540px !important;
    margin-left: 180px;
  }
  #section2 {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: -240px;
    left: 0px;
    width: 100vw;
    height: 450px;
  }
}

